*{
	margin:0px;
	padding:0px;
}

body{
	font-family: 'Fira Sans', sans-serif;
	font-size:15px;
	line-height:1.5em;
}
.back{
     background: url(../image/bg.jpeg) no-repeat center center fixed;
    background-size: cover;
}
#container{
	background-color:#333333;
	margin:21px auto;
	overflow:auto;
	width:50%;
	min-height:600px;
}
header h1{
	color:#cf000f;
	font-size:28px;
	padding:15px 0 10px 10px;
	border-bottom:1px solid #ffffff;
    text-align: center;
    font-family: 'Lobster', cursive;
}
#shouts{
	width:90%;
	background-color:#f4f4f4;
	height:400px;
	margin:20px auto;
	overflow:scroll;
}
.shout{
	list-style:none; 
	padding:8px;
	border-bottom:1px dotted #cccccc;
}
.shout span{
	color:#aaaaaa;
}

#input{
	width:90%;
	min-height:80px;
	margin:auto;
	padding:0px;
}

#input input[type='text']{
	height:25px;
	width:48%;
	padding:3px;
	margin-bottom:20px;
	border:1px solid #666666;
}
#input .shout-btn{
	padding:10px;
	width:100%; 
	margin:10px auto;
	margin-bottom:20px;
    background-color: orangered;
    color:snow;
    font-size: 18px;
    font-family: cursive;
}
#input .shout-btn:hover{
    cursor:pointer;
}
.error{
	background-color:red;
	color:#ffffff;
	padding:5px;
	margin-bottom:20px;
}
@media only screen and (max-width:768px){
	#input input[type='text']{
		width:98%;
	}
}